body {
    padding:20px 0 40px 0;
    // background: grey;
    }

.container {
    background:white;
    border-radius: 5px;
    padding: 40px;
    }

label {
    color: #333;
    }

form > ul {
    margin-bottom: 2rem;
    }

form > ul > li {
    display:inline-block;
    margin-right:10px;
    }

#main_logo {
    max-height:80px;
    margin:20px;
    }

#steps_logo {
    max-height:80px;
    margin:20px;
    }

