body {
    padding:20px 0 40px 0;
    background: grey;
    }

.container {
    background:white;
    border-radius: 5px;
    padding: 40px;
    }

.main_option {
    display: inline;
    }

form > ul {
    margin-bottom: 2rem;
    }

form > ul > li {
    display:inline;
    margin-right:10px;
    }

#main_logo {
    max-height:80px;
    margin:20px;
    }

#steps_logo {
    max-height:80px;
    margin:20px;
    }

