body {
    padding:20px 0 40px 0;
    // background: grey;
    }

.container {
    background:white;
    border-radius: 5px;
    padding: 20px;
    }

label {
    color: #333;
    font-size: 1.4rem !important;
    }

.intro-card {
    font-size: 1.5rem;
    }

form > ul {
    margin-bottom: 3rem;
    margin-left: 1.5rem;
    }

form > ul > li {
    display:inline-block;
    margin-right:10px;
    }

#main_logo {
    max-height:80px;
    margin:20px;
    }

#steps_logo {
    max-height:80px;
    margin:20px;
    }

.map_container {
    position: relative;
    }

.map_icon {
    position: absolute;
}

.flow-text {
    font-size: 1.5rem;
    }

.tech-info {
    font-size: 1.2rem;
    font-style: italic;
}
.bus-blue-light {
    background: #36a9e1;
}

.bus-blue-dark {
    background: #004381;
}

.bus-yellow-light {
    background: #ffcc00;
}

.bus-yellow-dark {
    background: #ef7d00;
}

.flashes > li {
    background: #004381;
    color: #f5f5f5;
    text-align: center;
    padding: 10px;
    font-size: 1.5em;
}

.error-title {
    font-weight: 700;
    font-size: 1.5em;
}

.error {
    font-size: 1.4em;
}


@media (max-width:376px){
    form > ul > li {
        display:block;
        }
}

