{% extends 'base.html' %}
{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-md">
                <img src="{{url_for('static', filename='BusSwe_LogoDesc-C_RGB.jpg')}}" class="img-fluid float-left" id="main_logo">
                <img src="{{url_for('static', filename='steps-logga.jpg')}}" class="img-fluid float-right" id="steps_logo">
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <h1>Steps to Export - Att välja kursmoduler</h1>
                <div class="alert alert-info">
                    Kort instruktionstext här att författa senare men jag har formulerat detta onödigt
                    långt för att se hur boxen beter sig. Så lägger till lite Lorem ipsum här då jag inte
                    kommer på något vettigare att skriva.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <form method="post">
                    {{form.hidden_tag()}}
                    {% for field in form if field.type == 'RadioField' %}
                        {{field.label}} {{field}}
                    {% endfor %}
                    {{form.submit(class_="btn btn-primary")}}
                </form>
           </div>
        </div>
    </div>
{% endblock %}