{% extends 'base.html' %}
{% block main %}
    <div class="container" id="top">
        <div class="row">
            <div class="col s6">
                <!-- Business Sweden logo disabled on request form Niklas -->
                <!--<img src="{{url_for('static', filename='BusSwe_LogoDesc-C_RGB.jpg')}}" class="left" id="main_logo">-->
            </div>
            <div class="col s6">
                <img src="{{url_for('static', filename='steps-logga.jpg')}}" class="right" id="steps_logo">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2>Steps to Export - Välja stationer</h2>
                <div class="card bus-yellow-dark">
                    <div class="card-content white-text">
                    <p class="flow-text">Välkommen till Steps to Export! Innan du påbörjar din exportresa, så vill vi
                        gärna att du svarar på några frågor. Detta för att vi ska kunna guida dig till de stationer,
                        som du kanske främst har ett behov av att besöka. Vilka dessa stationer är, kommer att framgå
                        av den tunnelbanekarta du får fram på nästa sida.
                    </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
            {# Render form errors if any #}
                {% if form.errors %}
                    <div class="card-panel red accent-1">
                        <span class="error error-title white-text">Oops...</span>
                        <ul>
                            {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                                {% for error in field_errors %}
                            <li class="white-text">{{form[field_name].label(class_="white-text")}}: <i class="error">{{error}}</i></li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                <form method="post">
                    {{form.hidden_tag()}}
                    {% for field in form if field.type == 'RadioField' %}
                        {{field.label(class_="flow-text")}} {{field(class_="flow-text")}}
                    {% endfor %}
                    {{form.submit(class_="btn-large waves-effect waves-light flow-text bus-yellow-dark")}}
                </form>
                <p class="tech-info">Dina svar kommer att sparas på denna enhet förutsatt att du tillåter cookies på denna site.</p>
                {% if form.errors %}
                <p class="red-text">Vi har problem med ditt formulär.. <a href="#top">Scrolla upp.</a></p>
                {% endif %}
           </div>
        </div>
    </div>
{% endblock %}