{% extends 'base.html' %}
{% block main %}
    <div class="container">
        <div class="row">
            <div class="col s6">
                <!-- Business Sweden logo disabled on request from Niklas -->
                <!-- <img src="{{url_for('static', filename='BusSwe_LogoDesc-C_RGB.jpg')}}" class="left" id="main_logo"> -->
            </div>
            <div class="col s6">
                <img src="{{url_for('static', filename='steps-logga.jpg')}}" class="right" id="steps_logo">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2>Steps to Export - Välja kursmoduler</h2>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="card bus-yellow-dark">
                    <div class="card-content white-text">
                    {% if feedback|length < 1 %}
                        <span class="card-title">Exportmästare!</span>
                        <p class="flow-text">Du verkar ha full koll på det mesta. Du kanske borde boka ett individuellt möte med en Exportrådgivare istället?</p>
                        <a href="https://www.business-sweden.se/kontakt/regionala-exportradgivare/">Visa mig!</a>
                    {% else %}
                        <span class="card-title">Tack för dina svar!</span>
                        <p class="flow-text">Baserat på vad du berättat rekommenderar vi följande moduler. Detta är
                            endast ett förslag och vill du besöka alla stationer eller välja några andra, så är det
                            naturligtvis fritt fram att göra så.</p>
                    </div>
                </div>
                    <ul class="collection">
                        {% for item in feedback %}
                            <li class="collection-item flow-text">{{item[0]}} - <a href="{{item[1]}}" target="_blank">Klicka för att börja</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        <div class="row">
            <div class="col map_container">
                <img src="{{url_for('static', filename='ste_nomenu_2.png')}}" id="ste_map" class="responsive-img">
                {# The 3rd and 4th element in the feedback lines are the relative coordinates of the "station" #}
                {% for item in feedback %}
                    <a href="{{item[1]}}" target="_blank" class="btn-floating bus-yellow-dark pulse map_icon" style="left: {{item[2]}}%; top: {{item[3]}}%">
                        <i class="material-icons">play_arrow</i>
                    </a>
                {% endfor %}
            </div>
        </div>
        </div>
    </div>
{% endblock %}
